@import './boards.css';
/* Universal Elements */
body{
  background-color: rgb(33, 169, 248);
  top:0;
  left:0;
  max-height:100vh;
  max-width:100%;
  overflow-x:hidden !important;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS'; 
}
button{
  font-weight:600;
  background-color: rgb(174, 110, 110);
  color: white;
  width:6em;
  height:1.6em;
  font-size:16px;
  box-sizing: border-box;
  border-radius:10px;
  border:0;
  cursor: pointer;
}

button:hover{
  background-color: rgb(126, 71, 71);
}
input{
  font-weight:600
}
.names{
  color:white;
}
.no-room{
  background-color: red;
}
.attack-landed{
  background-color: red;
}
.attack-missed{
  background-color: lightgray;
}
.piece-hover{
  background-color: green;
}
.piece-placed{
  background-color: blue;
}
.hidden{
  display: none;
  visibility: hidden;
}
/* End Universal Elements */

.nav-bar{
  top:0;
  left:0;
  position:absolute;
  min-width:100%;
  max-width:100%;
  height:6%;
  background-color: rgb(19, 18, 18);
  color:white;
  margin-bottom:10%;
  font-size:1.5rem;
  font-weight:bold;
  line-height:170%;
}
.nav-title{
  margin-left:1rem;
}
.game-text-parent{
  margin-top:5rem;
  margin-bottom:0;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}
.game-text{
  color:black;
  width:100%;
  font-size: 1.1rem;
  text-align: start;
  font-weight: 700;
  margin-bottom:0;
  left:0;
  margin-top:-1rem;
  margin-right:2rem;
  margin-left:0.1rem;
}

.button-div{
  margin-top:2rem;
  margin-bottom:0%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
}
.make-player{
  width:10rem;
  height:2rem;
  font-size:0.9rem;
}
.submit{
  width:8em;
  height:1.8em;
}
.enter-name{
  margin-bottom:2rem;
  background-color: transparent;
  height:1.8rem;
  width:15rem;
  text-align: center;
  font-size: 22px;
  border:transparent;
  border-bottom:3px solid black;
  outline:none;
  color:white;
}
.axis-button{
  width:6em;
  height:1.6em;
  font-size:18px;
}

.change-axis{
  transform:rotate(90deg)
}
.restart-div{
  display:flex;
  justify-content: center;
  align-items: center;
}
.restart{
  width:8em;
  height:2em;
  margin-top:2rem;
}
.start-game{
  display:flex;
  justify-content: center;
  margin-top:3rem;
}
.start-button{
  height:2rem;
  width:8rem;
  font-size: 18px;
}
@media screen and (max-width:700px){
  .game-text{
    margin-top:-1rem;
  }
}