body{
  background-color: white;
}
.headers{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.game-text{
  font-size: 22px;
}
.title{
  text-align:center;
  font-size: 36px;

}
.button-div{
  margin-top:2rem;
  margin-bottom:0%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
}
.make-player{
  width:8rem;
  height:2rem;
  height:30px;
  font-size:18px;
}
.make-player:hover{
  cursor: pointer;
}
.submit{
  width:8rem;
  height:2rem;
  height:30px;
  font-size:18px;
}
.submit:hover{
  cursor: pointer;
}
.enter-name{
  margin-bottom:2rem;
  height:1.5rem;
  width:15rem;
  text-align: center;
  font-size: 22px;
  border: 1px solid gray;
}
.axis-button{
  width:8rem;
  height:2rem;
  height:30px;
  font-size: 18px;
}
.axis-button:hover{
  cursor: pointer;
}
.game-div{
  display:grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  flex-direction: row;
  grid-gap:10px;
  min-height: 400px;
  min-width:100%;
  margin-top:5rem;
}

.choose-ships-board{
  max-height: 600px;
  max-width:500px;
  border:1px solid black;
  grid-template-columns: repeat(10, [col] 1fr);
  grid-template-rows: repeat(10, [row] 1fr);
}
.player-one-board{
  max-height: 400px;
  max-width:350px;
  border:1px solid black;
  display:grid;
  grid-template-columns: repeat(10, [col] 1fr);
  grid-template-rows: repeat(10, [row] 1fr);
  margin-left: 7%;
}
.player-one-tile{
  border: 1px solid lightgray;
}
.place-ship-tile:hover{
  cursor:pointer;
  border:1px solid black;
}
.attack-ship-tile:hover{
  cursor:pointer;
  border: 1px solid black;
}

.player-two-board{
  max-height: 400px;
  max-width:350px;
  border:1px solid black;
  display:grid;
  grid-template-columns: repeat(10, [col] 1fr);
  grid-template-rows: repeat(10, [row] 1fr);
  margin-left:15%;
}
.player-two-tile{
  border: 1px solid lightgray;
}
.player-names{
  display:flex;
  flex-direction: row;
  align-content: space-evenly;
  justify-content: space-evenly;
}

.start-game{
  display:flex;
  justify-content: center;
  margin-top:3rem;
}
.start-button{
  height:2rem;
  width:8rem;
  font-size: 18px;
}
.start-button:hover{
  cursor:pointer;
}
.red-test{
  background-color: red;
}
.attack-landed{
  background-color: red;
}
.attack-missed{
  background-color: grey;
}
.piece-hover{
  background-color: green;
}
.piece-placed{
  background-color: blue;
}

.restart-div{
  display:flex;
  justify-content: center;
  align-items: center;
}
.restart{
  width:8rem;
  height:2rem;
  height:30px;
  font-size: 18px;
  margin-top:1rem;
}
.restart:hover{
  cursor:pointer;
}
.hidden{
  display: none;
}